* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  outline: none;
  border: 0;
}
i {
  font-style: normal;
}
img {
  vertical-align: middle;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.bt {
  border-top: 1px solid #ccc;
}
.br {
  border-right: 1px solid #ccc;
}
.bb {
  border-bottom: 1px solid #ccc;
}
.bl {
  border-left: 1px solid #ccc;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
  visibility: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
}
#header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  height: 45px;
  background-color: #006699;
}
#header > h4 {
  font-weight: normal;
  color: #fff;
  line-height: 35px;
  text-align: center;
}
#header > a.search {
  position: absolute;
  top: 14px;
  right: 12px;
  color: #fff;
  font-size: 18px;
}
#footer {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #006699;
}
#footer .mui-row .mui-col-xs-3 {
  text-align: center;
}
#footer .mui-row .mui-col-xs-3.active > a {
  color: orangered;
}
#footer .mui-row .mui-col-xs-3.active > a > p {
  color: orangered;
}
#footer .mui-row .mui-col-xs-3 > a {
  padding-top: 7px;
  color: #fff;
}
#footer .mui-row .mui-col-xs-3 > a > p {
  color: #fff;
  font-size: 14px;
}
body {
  background-color: #fff;
}
#header .fa-arrow-left {
  position: absolute;
  top: 14px;
  left: 12px;
  color: #fff;
  font-size: 18px;
}
#header > p {
  line-height: 45px;
  text-align: center;
  margin-bottom: 0;
  color: #fff;
  font-size: 16px;
}
#header .fa-refresh {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #fff;
}
#main {
  padding-top: 45px;
  padding-bottom: 90px;
}
#main #OA_task_2 .mui-slider-handle .mui-media > a {
  font-size: 16px;
  color: #333;
}
#main #OA_task_2 .mui-slider-handle .mui-media > a .mui-media-body .mui-ellipsis .price .new-price {
  color: tomato;
  margin-right: 5px;
}
#main #OA_task_2 .mui-slider-handle .mui-media > a .mui-media-body .mui-ellipsis .price .num {
  float: right;
  margin-right: 20px;
  color: #888;
}
#main #OA_task_2 .mui-slider-handle .mui-media > a .mui-media-body .mui-ellipsis .price .num i.mui-navigate-right {
  position: absolute;
  top: 50px;
  right: 0;
}
#main #OA_task_2 .mui-slider-handle .mui-media > a .mui-media-body .mui-ellipsis .size {
  color: #888;
}
.indent {
  padding: 5px;
  position: fixed;
  bottom: 45px;
  width: 100%;
  border-top: 1px solid #ccc;
  background-color: #fff;
}
.indent .price > p {
  margin-bottom: 0;
  line-height: 30px;
  color: tomato;
}
.indent .mui-btn {
  position: absolute;
  right: 5px;
  top: 5px;
}
.product-size {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.product-size > span {
  float: left;
  font-size: 14px;
  margin-top: 5px;
}
.product-size > ul > li {
  line-height: 30px;
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border: 1px solid #ccc;
}
.product-size > ul > li.active {
  background-color: tomato;
}
.product-num {
  padding: 10px;
}
.product-num > span {
  font-size: 14px;
  color: #666;
}
