* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  outline: none;
  border: 0;
}
i {
  font-style: normal;
}
img {
  vertical-align: middle;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.bt {
  border-top: 1px solid #ccc;
}
.br {
  border-right: 1px solid #ccc;
}
.bb {
  border-bottom: 1px solid #ccc;
}
.bl {
  border-left: 1px solid #ccc;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
  visibility: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
}
#header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  height: 45px;
  background-color: #006699;
}
#header > h4 {
  font-weight: normal;
  color: #fff;
  line-height: 35px;
  text-align: center;
}
#header > a.search {
  position: absolute;
  top: 14px;
  right: 12px;
  color: #fff;
  font-size: 18px;
}
#footer {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #006699;
}
#footer .mui-row .mui-col-xs-3 {
  text-align: center;
}
#footer .mui-row .mui-col-xs-3.active > a {
  color: orangered;
}
#footer .mui-row .mui-col-xs-3.active > a > p {
  color: orangered;
}
#footer .mui-row .mui-col-xs-3 > a {
  padding-top: 7px;
  color: #fff;
}
#footer .mui-row .mui-col-xs-3 > a > p {
  color: #fff;
  font-size: 14px;
}
body {
  overflow: hidden;
}
#header {
  position: relative;
  padding-top: 5px;
}
#header .fa-arrow-left {
  position: absolute;
  top: 14px;
  left: 12px;
  color: #fff;
  font-size: 18px;
}
#header > form {
  padding: 0 35px;
}
#header > form > input {
  width: 100%;
  background-color: #fff;
  text-align: left;
  margin-bottom: 0;
}
#main {
  position: relative;
  height: 100%;
  background-color: #ccc;
  width: 100%;
}
#main .left {
  position: absolute;
  top: 0;
  left: 0;
}
#main .left > ul > li {
  width: 90px;
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: center;
  line-height: 40px;
}
#main .left > ul > li > a {
  display: block;
  color: #000;
  font-size: 14px;
}
#main .left > ul > li.active {
  background-color: #ccc;
}
#main .bigBox {
  height: 100%;
  position: relative;
  margin-left: 90px;
}
#main .bigBox .wrapper {
  padding-top: 10px;
}
#main .bigBox .wrapper .list {
  height: 101%;
}
#main .bigBox .wrapper .list > div {
  background-color: #fff;
}
#main .bigBox .wrapper .list > div > p {
  width: 100%;
  height: 100%;
  color: red;
  margin-bottom: 0;
  background-color: #ccc;
}
#main .bigBox .wrapper .list > div > div > li {
  text-align: center;
}
#main .bigBox .wrapper .list > div > div > li > a > img {
  width: 100%;
}
